<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--
      <script src="/socket.io/socket.io.js"></script>
    <script>
    const socket = io();

      socket.on('connect', () => {
        console.log("Connected")
      });</script>
    -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
